# Server Configuration
PORT=8080

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=go_starter_db
DB_SSLMODE=disable

# Application Configuration
APP_ENV=development
